/*!
 * Start Bootstrap - knowledgebase2 v0.0.1 (https://knowledgebase2.com)
 * Copyright 2013-2019 Alexa Anderson, Popular Demand LLC, Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/knowledgebase2/blob/master/LICENSE)
 */

body {
  font-size: 20px;
  color: #212529;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  transition: all 0.2s;
}

a:focus,
a:hover {
  color: #91d331;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #91d331;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #91d331;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #343a40;
  background-color: #030157;
  min-height: 50px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #f8f9fa;
}

#mainNav .navbar-nav > li.nav-item > button {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f8f9fa;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus,
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -100px;
    border-bottom: 1px solid #030157;
    background-color: #030157;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #f8f9fa;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #91d331;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    top: 0;
    transition: top 0.2s;
  }
}

.nav-button.nav-link {
  background: none!important;
  border: none;
  color: white !important;
  cursor: pointer;
}

.masthead {
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

.masthead .page-heading,
.masthead .post-heading,
.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .masthead .page-heading,
  .masthead .post-heading,
  .masthead .site-heading {
    padding: 200px 0;
  }
}

.masthead .page-heading,
.masthead .site-heading {
  text-align: center;
}

.masthead .page-heading h1,
.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

.masthead .page-heading .subheading,
.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  word-spacing: -5px;
  font-family: "Ubuntu Mono", monospace, Arial, "sans-serif";
  color: #f8f9fa;
}

@media only screen and (min-width: 768px) {
  .masthead .page-heading h1,
  .masthead .site-heading h1 {
    font-size: 80px;
  }
}

.masthead .post-heading h1 {
  font-size: 35px;
}

.masthead .post-heading .meta,
.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", "Times New Roman", serif;
}

.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .masthead .post-heading h1 {
    font-size: 55px;
  }
  .masthead .post-heading .subheading {
    font-size: 30px;
  }
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.logo .logo-text,
.logo-mini .logo-text {
  font-family: "Ubuntu Mono", monospace, Arial, "sans-serif";
  font-weight: bold;
}

.logo .knowledge,
.logo-mini .knowledge {
  color: #f8f9fa;
}

.logo .base-two,
.logo-mini .base-two {
  color: #91d331;
}

.logo-mini {
  display: inline-block;
}

.topics-list .resource-list {
  overflow-x: auto;
  overflow-y: hidden;

  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.topics-list .resource-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.topics-list .resource-card {
  min-width: 320px;
  max-width: 320px;
  height: 100%;
  display: inline-block;
  white-space: initial;
}

.resource-card-link .resource-card {
  color: initial;
}

.resource-card-link:hover {
  color: #030157;
}

.resource-card-link:hover .card-header {
  background-color: #f1f1ff;
}

.resource-card .card-header {
  transition: all 0.1s;
  color: #343a40;
  background-color: #ebf7d9;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.resource-card .resource-title {
  letter-spacing: 0.02em;
  font-weight: 600;
}

.resource-card .fa-star {
  color: #ffc107;
}

.value-prop {
  font-family: "Ubuntu Mono", monospace, Arial, "sans-serif";
  padding: 50px 0;
  margin-bottom: 50px;
  background-color: #f1f1ff;
  color: #212529;
  text-align: center;
}

.value-prop blockquote {
  margin: 0;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #91d331;
  border-color: #91d331;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #7cb727 !important;
  border-color: #7cb727 !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
